.cover__link {
    min-width: 320px;
    background-image: linear-gradient(
                        rgba(42,44,47, 0.3),
                        rgba(42,44,47, 0.3)),
                        url(../../../images/cover-trains.jpg);
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    height: 0;
    padding-bottom: 62.5%;
    position: relative;
    display: block;
    max-width: 1184px;
    margin: 0 auto;
}

/*
Несколько дней промучался с этой частью:
Если я вставляю картинку через img и накладываю сверху текст, не понятно как применять hover без сложных селекторов
(чтобы картинка затемнялась в т.ч. и когда курсор над текстом).
Если вставляю картинку в ссылку фоном и делаю opacity, все дети становятся прозрачными.
Поэтому поставил фоновую картинку, которая меняет размер, а над ней полупрозрачный слой фона, прозрачностью которого можно
управлять по hover.
*/

.cover__link:hover {
    background-image: linear-gradient(
                        rgba(42,44,47, 0.8),
                        rgba(42,44,47, 0.8)),
                        url(../../../images/cover-trains.jpg);
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
}



@media screen and (max-width: 1024px) {
    .cover__link  {
        margin: 0;
    }
}
