@import url(./__image/gallery__image.css);

.gallery {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 24px;
    margin-top: 95px;
}

@media screen and (max-width: 1024px) {
    .gallery  {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        margin: 0 24px;
        margin-top: 95px;
    }
}

@media screen and (max-width: 768px) {
    .gallery  {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        margin: 0 14px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 425px) {
    .gallery  {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 12px;
        margin: 0 12px;
        margin-top: 60px;
    }
}