.attraction__address {
    align-self: end;
    padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .attraction__address {
    display: none;
   }
}

@media screen and (min-width: 768px) {
    .attraction__address {
    display: block; 
   }
}

@media screen and (min-width: 1024px) {
    .attraction__address {
    display: block;
    padding-bottom: 10px; 
   }
}

@media screen and (min-width: 1280px) {
    .attraction__address {
    display: block;
    padding-bottom: 12px; 
   }
}
