@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image-wrapper/lead__image-wrapper.css);
@import url(./__image/lead__image.css);
@import url(./__image-caption/lead__image-caption.css);

.lead {
    max-width: 1184px;
    min-width: 320px;
    padding-top: 34px
}