@import url(./__link/cover__link.css);
@import url(./__text-wrapper/cover__text-wrapper.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    margin: 100px 0;
    margin-bottom: 63px;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .cover__link  {
        margin: 80px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover__link  {
        margin: 50px 0;
    }
}


@media screen and (max-width: 425px) {
    .cover__link  {
        margin: 30px 0;
    }
}