@import url(./__title/attraction__title.css);
@import url(./__address/attraction__address.css);
@import url(./__url/attraction__url.css);
@import url(./__address-label/attraction__address-label.css);
@import url(./__picture/attraction__picture.css);
@import url(./__text/attraction__text.css);

.attraction {
    margin: 0 auto;
    margin-top: 90px;
    padding: 0;
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
}




@media screen and (min-width: 425px) {
    .attraction {
        max-width: 100%;
        grid-template-columns: 1fr;
        padding: 0;
   }
}

@media screen and (min-width: 768px) {
    .attraction {
        max-width: 95%;
        padding: 0 16px;
        grid-template-columns: 0.966fr 1.044fr;
        column-gap: 28px;
   }
}

@media screen and (min-width: 1024px) {
    .attraction {
        max-width: 95%;
        padding: 24px;
        grid-template-columns: 1.1fr 0.9fr;
        column-gap: 28px;
   }
}

@media screen and (min-width: 1280px) {
    .attraction {
        max-width: 984px;
        grid-template-columns: 460px 484px;
        column-gap: 40px;
        row-gap: 48px;
   }
}
