@import url(./__title/attraction__title.css);
@import url(./__address/attraction__address.css);
@import url(./__url/attraction__url.css);
@import url(./__address-label/attraction__address-label.css);
@import url(./__picture/attraction__picture.css);
@import url(./__text/attraction__text.css);

.attraction {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0;
    display: grid;
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    row-gap: 48px;
}


@media screen and (max-width: 1024px) {
    .attraction {
        max-width: 720px;
        grid-template-columns: 358px 340px;
        column-gap: 28px;
   }
}

@media screen and (max-width: 768px) {
    .attraction {
        max-width: 720px;
        grid-template-columns: 0.966fr 1.044fr;
        column-gap: 28px;
   }
}

@media screen and (max-width: 425px) {
    .attraction {
        max-width: 100%;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
   }
}