.attraction__text {
    margin: 0;

    margin: 0;
    margin-bottom: 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.attraction__text:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .attraction__text {
    padding: 0 16px;
    font-size: 16px;
    line-height: 1.65;
   }
}

@media screen and (min-width: 768px) {
    .attraction__text {
    padding: 0;
    font-size: 16px;
    line-height: 1.65;
   }
}


.attraction__text:last-of-type {
    margin-bottom: 0;
}


@media screen and (min-width: 1024px) {
    .attraction__text {
        padding-right: 16px;
        font-size: 18px;
   }
}